*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;    /* for vertical center text we use */ 
}

.choice{
    height: 100px;
    width: 100px;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: white;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover; /* image failenge isse */
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2.5rem;
    gap: 4rem;
}

#user-score , #comp-score {
    font-size: 3rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    background-color:#081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius:1rem ;
}

